<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<style type="text/css">
	

	p.content{
direction: rtl;
		
	}
	.chart-buttons {

direction: rtl;
}
aside{
background: #1f8dd6;
padding: 0.3em 1em;
border-radius: 3px;
color: #fff;
}

</style>
<body>

<hr></hr>
    <p class="chart-buttons">
javascript بولسا ئىنتىرنىتتا ئەڭ مودا بولغان بىر قوليازما تېلى بولۇپ،بۇ ئاساسلىق توركۆرگۈچلەردە خىزمەت قىلىدۇ ،جۈملىدىن Ie ,Firefox.Safair chrome قاتارلىقلار سىز بۇ تىل بىلەن پروگىرامما يىزىشنى باشلاشدىن بۇرۇن چوقۇم HTML / XHTML نى بىلىشىڭىز كىرەك  ،js بەتتىكى ھەربىر ئىلىمىنتى باشقۇرۇش خۇسۇسىيتىغا ئىگە،دىمەكچىمەنكى javascript ئارقىلىق بەتتىكى ھەربىر dom ئىلىمىنىتنى خالىغانچە كونتىرول قىلالايسىز،شۇنداقلا بۇ تىل يانفۇن ۋە كومپيۇتىرنىڭ قاتتىق دىتاللىرىغا كىرىش ئىقتىدارىغا ئىگە ،جۈملىدىن كامىرا،مىكروفون،قاتتىق دىسكىدىكى ھۆججەت قاتارلىقلار.
مەقسەتكە كەلسەك بۇ قوللانمىنى يىزىشتىكى مەقسەت قانداقتۇر javascript نى يڭىدىن باشلىغۇچىلار ئۈچۈن پايدىلىنىش ماتىريالى قىلىش ئەمەس،بەلكى javascript دىكى دائىملىق خاتا چۈشەنچىلەر ۋە بىرقسىم مۇرەككەپ مەسىلىلەرنى يىشىپ بىرىش،شۇڭلاشقا ئەگەر سىز javascript دىن ئاز  تولا خەۋرىڭىز بولماي تۇرۇپ ،بۇ قوللانمىدىن پايدىلانماقچى بولسىڭىز كۆزلىگەن مەقستىڭىزگە ئىرىشەلمەسلىكىڭىز مومكىن،چۈنكى بۇ قوللانما javascript دىن ئوتتۇرھال سەۋىيەگە ئىگە بولغانلارغا ماس كىلىدۇ،بىشىدىن باشلىماقچى بولسىڭىز ئىنتىرنىتتىكى باشقا قوللانملارنى بىرقاتار كۆرۈڭ ۋە ئەمەلى سىناپ يىزىپ ئاساسى چۈشەنچىگە ئىگە بولۇڭ،ئاندىن بۇ قوللانما سىزگە ،سىزJavascript دا ئۇچىرىغان بىشىڭىزنى قايدۇرغان قىيىن مەسىلىلەرنى ھەل قىلىشتا زور ياردىمى تىگىدۇ،ئەگەر ئاللاھ خالىسا
</p>
<hr></hr>
<aside class="us">
  <center>مەزمۇن ھوقۇقى ئۈگىنەيلى تورىغا مەنسۇپ</center>
</aside>
</body>

